<%- include ('partials/header.ejs') %>
  <div class="navbar-container">
    <ul class="navbar">
      <li class="navbar-item"><a href="/works/new">Add new</a></li>
      <li class="navbar-item"><a href="/works/howto">How to use</a></li>
    </ul>
  </div>
    <div class="page-name-container">
      <h2 class="page-name"> All Works</h2>
    </div>
    <div class="work-preview">
      <table>
        <% if(works.length > 0) {
          %>
        <tr>
          <th class="table-heading">Work</th>
          <th class="table-heading">Status</th>
          <th class="table-heading">Responsible</th>
          <th class="table-heading">Contact Number</th>
        </tr>
        <tr>
          <% for(let i = 0; i < works.length; i++) {
            %>
              <td class="table-element"><a href="/works/<%= works[i].id %>"><%= works[i].name %></a></td>
              <td class="table-element"><%= works[i].status %> </td>
              <td class="table-element"><%= works[i].responsible %> </td>
              <td class="table-element"><%= works[i].contactNumber %> </td>
          </tr>
        </table>
      </div>
  <% } %>
  <% }else{%>
    <p>Load a new work</p>
  <% } %>
  </br>
<%- include ('partials/footer.ejs') %>
