<%- include ('partials/header.ejs') %>
    <div class="navbar" >
      <div class="navbar-item">
        <a href="/works">Back to All Works</a>
        </div>
    </div>
    <h2><%= work.name %></h2>
    <div>
      <p class="show-work"><span style="font-weight:bold;">Description:</span> <%= work.description %></p>
      <p class="show-work"><span style="font-weight:bold;">Responsible:</span> <%= work.responsible %> </p>
      <p class="show-work"><span style="font-weight:bold;">Contact Number:</span> <%= work.contactNumber %> </p>
      <p class="show-work"><span style="font-weight:bold;">Status:</span> <%= work.status %> </p>
      <p class="show-work"><span style="font-weight:bold;">Start Date:</span> <%= work.startDate.toLocaleString('en-US',{weekday:'short', year: 'numeric', month: 'long', day:'numeric',}) %> </p>
      <p class="show-work"><span style="font-weight:bold;">End Date:</span> <%= work.endDate.toLocaleString('en-US',{weekday:'short', year: 'numeric', month: 'long', day:'numeric',}) %> </p>
      <p class="show-work"><span style="font-weight:bold;">Budget:</span> $<%= work.budget %> </p>
      <p class="show-work"><span style="font-weight:bold;">Paid:</span> $<%= work.paid %> </p>
      <p class="show-work"><span style="font-weight:bold;">Note:</span> <%= work.note %> </p>
      <img class="work-img" src="<%= work.startImg %> "style="height:200px;">
      <img class="work-img" src="<%= work.finalImg %> "style="height:200px;">
    </br>
      <button><a style="all:unset" href="/works/<%=work.id%>/edit">Edit this work</a></button>
      <form action="/works/<%=work.id %>?_method=DELETE" method="POST">
        <input class="submit" type="submit" value="DELETE"/>
      </form>
    </div>
    <%- include ('partials/footer.ejs') %>
